.gradesionColor {
  background: linear-gradient(
    90deg,
    #f2c5eb 42.76%,
    #5bc9f9 69.18%,
    #ff75d0 97.79%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
