.open {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  padding: 40px 0;
  .card-content {
    height: auto;
    max-width: 700px;
    overflow: hidden;
  }
}
.container {
  background: linear-gradient(#0000004e, #00000000);
}
.asdlfkjffffffffffffffffff {
  top: 100px;
}
